<a href="https://colab.research.google.com/github/subhu6371/apnacollege-demo/blob/main/googlecollab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import pandas as pd

# Create a simple DataFrame (table of data)
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
}

df = pd.DataFrame(data)

# Show the data
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

# New Section